<!DOCTYPE html>
<html>
<head>
  <title>{Question Bank}</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "lightbox", :media => "all" %>
  <%= stylesheet_link_tag    "screen", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
    body {
      font-family: 'Lato', sans-serif;
    }
    div.navbar ul.nav > li > a {
      padding-left: 15px;
      padding-right: 15px;
    }
  </style>
</head>
<body>

<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">{question bank} <span style="font-size:0.6em;margin:0 10px;text-transform:uppercase;">Berkeley</span></a>
      <ul class="nav">
        <li class="active"><a href="/entries" style="font-size:1.4em;">questions</a></li>
        <li class="">
          <a href="<%= new_entry_path %>" style="width:60px;">
            <div style="font-size:2.5em;color:#286ff4;">
              +
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

<footer>
  <div class="container">
    WE.design Collective 2013
  </div>
</footer>

</body>
</html>
